.task {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-row {
  width: 10%;
}

.medium-row {
  width: 10%;
}

.large-row {
  width: 30%;
}

.topic {
  background-color: rgb(201, 170, 219);
  border-radius: 25px;
}

.diff {
  border-radius: 25px;
}

.easy {
  background-color: rgb(180, 219, 170);
}

.medium {
  background-color: rgb(238, 218, 37);
}

.hard {
  background-color: rgb(219, 100, 92);
}
